.box-for-card-in{
    box-sizing: border-box;

    position: absolute;
    width: 570px;
    height: 570px;
    left: 15%;
    top: 15%;

    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 50px;
}
.stylecard {
    position: absolute;
    width: 496px;
    height: 29px;
    left: 20%;
    top: 70px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.stylecard1{
    position: absolute;
    width: 255px;
    height: 19px;
    left: 25px;
    top: 25px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}
.stylecard1-1 {
    position: absolute;
    width: 255px;
    height: 56px;
    left: 25px;
    top: 64px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #FFFFFF;
}
.line-for-stylecard1 {
    position: absolute;
    width: 255px;
    height: 0px;
    left: 25px;
    top: 140px;

    border: 1px solid #FFFFFF;
}
.stylecard2 {
    position: absolute;
    width: 166px;
    height: 24px;
    left: 25px;
    top: 160px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}
.stylecard2-1 {
    position: absolute;
    width: 255px;
    height: 180px;
    left: 25px;
    top: 205px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #FFFFFF;
}
.line-for-stylecard2 {
    position: absolute;
    width: 255px;
    height: 0px;
    left: 25px;
    top: 405px;

    border: 1px solid #FFFFFF;
}
.btn-press {
    box-sizing: border-box;

    position: absolute;
    width: 201px;
    height: 50px;
    left: 185px;
    top: 465px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: -5px 5px 2px #000000;
    border-radius: 50px;
    z-index: 1;
}
.btn-press-2 {
    box-sizing: border-box;

    position: absolute;
    width: 201px;
    height: 50px;
    left: 185px;
    top: 465px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 0px 2px #000000;
    border-radius: 50px;

}
.btn-press p {
    position: relative;
    top: 25%;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #000000;
}
.btn-press-2 p {
    position: relative;
    top: 25%;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #000000;
}

/* Button slider */
.btn-slider {
    position: absolute;
    width: 190px;
    height: 40px;
    left: 45.5%;
    top: 2550px;
    z-index: 1;
}
.btn-slider1 {
    box-sizing: border-box;

    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;

    border-radius: 50%;
    background: #C2E37B;
    border: 0.5px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.btn-slider2 {
    box-sizing: border-box;

    position: absolute;
    width: 40px;
    height: 40px;
    left: 50px;
    z-index: 1;

    border-radius: 50%;
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-slider3 {
    box-sizing: border-box;

    position: absolute;
    width: 40px;
    height: 40px;
    left: 100px;
    z-index: 1;

    border-radius: 50%;
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-slider4 {
    box-sizing: border-box;

    position: absolute;
    width: 40px;
    height: 40px;
    left: 150px;
    z-index: 1;

    border-radius: 50%;
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
