.nav {
    position:absolute;
    top: 83px;
    left: 582px;
    width: 100px;
    height: 100px;
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height: 0%;
    font-size: 24px;

}
 
.nav_link1 {
    position: absolute;
    left: 102px;
    top: 5px;
    width: 100px;
    height: 20px;
    color: black;
    text-decoration: none;
    transition: top .2s, color .1s ease-in-out;
    

}
.nav_link1:hover {top: -0.1px;color: gray;}

.nav_link2 {
    left: 295px;
    top: 5px;
    width: 100px;
    height: 20px;
    position: absolute;
    color: black;
    text-decoration: none;
    transition: top .2s, color .1s ease-in-out;
}
.nav_link2:hover {top: -0.1px;color: gray;}

.nav_link3 {
    position: absolute;
    left: 490px;
    top: 5px;
    width: 100px;
    height: 20px;
    color: black;
    text-decoration: none;
    transition: top .2s, color .1s ease-in-out;
}
.nav_link3:hover {top: -0.1px;color: gray;}

.nav_link4 {
    position: absolute;
    left: 692px;
    top: 5px;
    width: 100px;
    height: 20px;
    color: black;
    text-decoration: none;
    transition: top .2s, color .1s ease-in-out;
}
.nav_link4:hover {top: -0.1px;color: gray;}